.bupapslider {

}

.bupapslider, .bupapslider .owl-stage {
  overflow: hidden;
  height:12rem;
  display: none;
  .page-template-tmpl-newcomer &, .page-template-tmpl-studio & {
    display: block;
  }

  @include breakpoint(tablet) {
    display: block;
    height:20rem;
  }
  @include breakpoint(xlarge) {
    height:60vh;
    min-height: 25rem;
  }
}

.bupapslider__img {
  height:12rem;
  width:auto !important;
  max-width: none;
  display: block;
  @include breakpoint(tablet) {
    height:20rem;
  }
  @include breakpoint(xlarge) {
    height:60vh;
    min-height: 25rem;
  }
}

.owl-bupapslider.owl-carousel {


  .owl-nav {
    position: absolute;
    top:50%;
    right:0;
    width:5.125rem;
    transform: translateY(-50%);
    > button {
      height:3rem;
      width:2.5rem;
      font-size: 3rem;
      background-color: $primary-color;
      color:$white;
      line-height: 2.5rem;
      text-align: center;
    }
  }
}
