.evtime {
  font-size: 1.333rem;
  line-height: 1.2;
  font-family: $sans-serif;
  text-transform: uppercase;
  display: block;
  font-weight: $global-weight-bold;
  margin-bottom: .25em;
  //color: $primary-color;
  span {
    &:before {
      content:' | ';
    }
  }

  .minipost &, .stickypost & {
    font-size: .875rem;
  }
  .singlepost__header &{
    color:$body-background;
    background-color: $primary-color;
    display: inline-block;
    padding:.4em;
    margin-bottom: 1rem;
  }
}

