.eventsmodal.reveal {
  top: 0 !important;
  right: 0 !important;
  bottom: 0 !important;
  left:auto !important;

  box-shadow: 1rem 0 4rem 0 rgba(#000,.333);
  @include breakpoint(large) {
    border-right: 1rem solid $body-background;
  }
}
