.eventsmodal.reveal {
  top: 0 !important;
  right: 0 !important;
  bottom: 0 !important;
  left:auto !important;
  border-right: 1rem solid $body-background;
  box-shadow: 1rem 0 4rem 0 rgba(#000,.333);
}
