.owl-nav {
  > div {
    font-weight: $global-weight-bold;
    font-size:4rem;
    line-height: 1;
    width:1em;
    float:left;
    &.owl-next {
      float:right;
      text-align: right;
    }
    &:hover {
      color:#000;
    }
  }

}
.owl-dots {
  text-align: center;
}
.owl-dot {
  height:.5rem;
  width:.5rem;
  display: inline-block;
  background-color: #000;
  margin: 0 .125rem;
  &.active {
    background-color: #fff;
  }
  > span {

  }
}
.minical-carousel {
  .owl-nav {

    position: absolute;
    left:0;
    right:0;
    top:0;
    @include breakpoint(large) {
      z-index: -1;
      left:-20%;
      right:-20%;
      top:50%;
    }
  }
  .owl-dots {
    position: absolute;
    left:0%;
    right:0;
    top:calc(5rem + 1vw);
  }
}


.teacher-carousel {
  .owl-dots {
    // text-align: right;
    // position: absolute;
    // left:0;
    // right:.5rem;
    // top:.25rem;
  }
  .owl-dot {
    background-color: $medium-gray;
    //width:.75rem;
    //height:.75rem;
    //margin:0 .125rem;
    &.active {
      background-color: $primary-color;
    }
  }
}

.class-carousel {
  .owl-dots {
    text-align: left;
    position: absolute;
    left:-.125rem;
    right:0;
    bottom:1.25rem;
  }
  .owl-dot {
    background-color: $medium-gray;
    width:.75rem;
    height:.75rem;
    margin:0 .125rem;
    &.active {
      background-color: $primary-color;
    }
  }
}