table.pricetable {
  border-spacing: 0 1px;
  font-weight: $global-weight-bold;

  border:0 solid #fff;
  background-color: $body-background;

  @include breakpoint(medium) {
    border-width:1em;
  }

  @include breakpoint(tablet) {
    border-width:1.5em;
  }
  @include breakpoint('large') {
        margin-top: -6rem;
        margin-top: calc(-6rem - 4vw);
        box-shadow: 0 0 5rem 0 rgba(#000,.25);
  }

  thead {
    background-color: #fff;

  }
  tbody tr {
    &:hover, &:focus {
      background-color: $body-background !important;
    }
  }
  tbody tr:nth-child(even) {
    background-color: transparent;
  }
  th {
    font-weight: $global-weight-normal;
    font-size: .875em;
    padding-top: 2em;
  }
  th:nth-child(n+2) {
    white-space: nowrap;
    text-align: right;
  }

  td:nth-child(n+2) {
    font-weight: $global-weight-normal;
    font-family: $serif;
    font-style: italic;
    white-space: nowrap;
    text-align: right;
    //vertical-align:top;
  }
}

.theprices {
  position: relative;
  //border-top:.5rem solid $primary-color;
  background-color: $dark-gray;
  color:$body-background;
  padding: 3rem 0;
  padding: calc(3rem + 2vw) 0;
}

