.tcard {
  //text-align: center;
  @include clearfix();
  margin: 0 auto 3rem;
  padding:0 0 3rem;
  border-bottom: 1px solid $body-background;


}

.tcard__photo {
  margin:0 auto;
  width: 27.5%;
  margin:0 2.5% 0 0;
  float:left;
  @include breakpoint(tablet) {
    width: 22.5%;
  }

  a {
    display: block;
    //border-radius: 50%;
    border:.5rem solid $body-background;
    &:hover, &:focus {
      border-color: $medium-gray;
    }
  }


  img {
    display: block;
    border-radius: inherit;
  }
}

.tcard__header {

  @include breakpoint(tablet) {
    float:right;
    width:75%;
  }

  }
.tcard__name {
  font-size: 1.75rem;
  margin: 0;
  a {
    color:inherit;
    &:hover, &:focus {
      color: $primary-color;
    }
  }
}

.tcard__quote {
  //font-size: 1.5rem;
  line-height: 1.4;
  font-weight: $global-weight-bold;
  font-family: $sans-serif;
  text-transform: uppercase;
  margin:0;
  //color:$medium-gray;

}

.tcard__text {
  font-size: .875rem;
  //display: none;
}

.tcard__more  {
  line-height: 1;
  font-size: .875rem;
  //font-weight: $global-weight-bold;
  font-family: $sans-serif;
  //text-transform: uppercase;
}