.tcard {
  text-align: center;
  @include clearfix();
  margin: 0 auto 2rem;
  padding:0 0 2rem;
  border-bottom: 1px solid $light-gray;


}

.tcard__photo {
  margin:0 auto;
  margin:0 0 1rem 0;


  a {
    display: block;
    //border-radius: 50%;
    border:.5rem solid #fff;
    max-width: 12rem;
    margin:0 auto 0 auto;
    &:hover, &:focus {
      border-color: $light-gray;
    }

  }


  img {
    display: block;
    border-radius: inherit;
  }
}

.tcard__header {


}

.tcard__name {
  font-size: 1.25rem;
  margin: 0 0 .5em;
  a {
    color:inherit;
    &:hover, &:focus {
      color: $primary-color;
    }
  }
}

.tcard__quote {
  font-size: .875rem;
  line-height: 1.2;
  font-weight: $global-weight-bold;
  font-family: $sans-serif;
  text-transform: uppercase;
  margin:0 0 .5em;
  //color:$medium-gray;

}

.tcard__text {
  font-size: .875rem;
  //display: none;
}

.tcard__more  {
  line-height: 1;
  font-size: .75rem;
  //font-weight: $global-weight-bold;
  font-family: $sans-serif;
  //text-transform: uppercase;
}