html {
  background-color: $dark-gray;
}
body {

}

.row {
  @include breakpoint(medium) {
    max-width: 97%;
  }
  @include breakpoint(xlarge) {
    max-width: 87%;
  }
  @include breakpoint(xxlarge) {
    max-width: 85%;
  }
  @media screen and (min-width: 120em) {
    max-width: $global-width;
  }
  .row {
    max-width: $global-width;
  }
}

.ps {
  padding-top: 2rem;
  padding-top: calc(2rem + 5vh);
  padding-bottom: 2rem;
  padding-bottom: calc(2rem + 5vh);
}
.ps--narrow {
  padding-top: .5rem;
  padding-top: calc(.5rem + 1vh);
  padding-bottom: .5rem;
  padding-bottom: calc(.5rem + 1vh);
}

.ps--largetop {
  padding-top: 8rem;
  padding-top: calc(8rem + 2vw);
}
.ps--largebottom {
  padding-bottom: 8rem;
  padding-bottom: calc(8rem + 2vw);
}
.ps--notop {
  padding-top: 0;
}
.ps--nobottom {
  padding-bottom: 0;
}

.ps--opaque {
  background-color: $white;
}
.ps--dark {
  background-color: $dark-gray;
  color:$body-background;
}

.ps--accent {
  background-color: $primary-color;
  color:$body-background;
}

.button {
  font-family: $sans-serif;
  font-weight: $global-weight-bold;
}


table {
  color:$body-font-color;
  font-family: $sans-serif;
  line-height: 1.2;
  font-size: .875rem;
  @include breakpoint(medium) {
    font-size: 1rem;
  }
  @include breakpoint(large) {
    font-size: 1.125rem;
  }

  small {
    font-weight: $global-weight-normal;
    font-size: 87.5%;
  }
}

//Typography

// h1, h2, h3, h4, h5, h6 {
//   small {
//     text-transform: uppercase;
//     display: block;
//     line-height: inherit;
//   }
// }
li {
  margin-bottom: $paragraph-margin-bottom/3*2;
}

.content {
  p, ul, ol, figure, blockquote {
    + h2, + h3, + h4, + h4, + h6 {
      margin-top: 2rem;
      margin-top: calc(2rem + .5em);
    }
  }


  li {
    //text-indent: 2em;
    &:before {
      position: absolute;
      content: '';
      display: inline-block;
      height:.666em;
      width:.666em;
      background-color: $primary-color;
      transform: translateX(-1.5rem) translateY(.333em);
    }
  }
}