html {
  background-color: $dark-gray;
}
body {

}

.row {
  @include breakpoint(medium) {
    max-width: 97%;
  }
  @include breakpoint(xlarge) {
    max-width: 87%;
  }
  @include breakpoint(xxlarge) {
    max-width: 85%;
  }
  @media screen and (min-width: 120em) {
    max-width: $global-width;
  }
  .row {
    max-width: $global-width;
  }
}

.ps {
  padding-top: 2rem;
  padding-top: calc(2rem + 5vh);
  padding-bottom: 2rem;
  padding-bottom: calc(2rem + 5vh);
}
.ps--narrow {
  padding-top: .5rem;
  padding-top: calc(.5rem + 1vh);
  padding-bottom: .5rem;
  padding-bottom: calc(.5rem + 1vh);
}

.ps--largetop {
  padding-top: 8rem;
  padding-top: calc(8rem + 2vw);
}
.ps--opaque {
  background-color: $white;
}
.ps--dark {
  background-color: $dark-gray;
  color:$body-background;
}

.button {
  font-family: $sans-serif;
  font-weight: $global-weight-extrabold;
}
