body.no-hero {
  padding-top: 6rem;
  padding-top: calc(6rem + 2vw);
}

.banner {
  position: fixed;
  width:100%;
  left:0;
  top:0;
  z-index: 9;
}
.banner__wrap {
  display: table;
  width:100%;
  height:6rem;
  height:calc(6rem + 4vw);
  .no-hero & {
    height:6rem;
    height:calc(6rem + 2vw);
    //border-bottom: .5rem solid #000;
  }
}

.banner__brand, .banner__nav, .banner__actions {
  display: table-cell;
  vertical-align: middle;

}

.banner__brand {
  //background-color: red;
  width:12rem;
}

.banner__logo {
  //background-color: blue;
  display: block;
  height: 5rem;
  width:12rem;
  background-image: url(../images/logo.svg);
  background-repeat: no-repeat;
  background-size: auto 80%;
  background-position: left center;
  /**zeldman text-hide **/
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  /** zeldman end of text-hide **/
}

.banner__nav {
  .menu {
    float: right;
  }
}

.banner__actions {

  text-align: right;
}


.menumodal {
  text-align: center;
}

.primarynav {
  max-width: 40rem;
  margin: 0 auto;
}

.menu {
  > li {
    > a {
      //color: #fff;
      color: $body-background;
      text-transform: uppercase;
      font-family: $sans-serif;
      font-weight: $global-weight-extrabold;
      .no-hero & {
        color:$body-font-color;
      }
    }
  }
  > li.active {
    > a {
      .no-hero & {
        color:get-color(primary);
      }
    }
  }
}


.menutoggle, .eventstoggle {
  margin: 0;

  text-transform: uppercase;

  color: $white;
  background-color: $primary-color;
  &:hover, &:focus {
    color: $white;
    background-color: $black;
  }
}