.bloghead {
  position: relative;
  //background-color: $primary-color;
}
// .ps.bloghead {
//   padding-bottom: calc(2rem + 2vh + 2vw);
//   .page-template-tmpl-schedule & {
//     padding-bottom: 0;
//   }
// }
.bloghead__catlist {
  list-style-type: none;
  padding:0;
  > li {
    display: inline-block;
    a {
      display:inline-block;
      font-family: $sans-serif;
      font-weight: $global-weight-bold;
      font-size: .875rem;
      //color: $body-background;
    }
    &:not(:last-child):after {
      content:' | ';
      color:$medium-gray;
    }
    &.current-cat a {
      color:inherit;
    }
  }
  @include breakpoint(large) {
    margin-top: 1.875rem;
  }
}

.bloghead__title {
  margin:0;
  // font-size: 1.25rem;
  @include breakpoint(large) {
    margin-top: .125em;
    font-size: 2.5rem;
  }
  a {
    color:inherit;
    &:hover, &.focus {
      color:$primary-color;
    }
  }
  small {
    font-size: 100%;
    //text-transform: uppercase;
    &:before {
      content:' • ';
      color:$primary-color;
    }
  }
}