.classleader {
  position: relative;
  background-color: $dark-gray;
  padding:3rem 0;
  padding:calc(3rem + 2vw) 0;
  //border-top: 1px solid $medium-gray;
}

.classleader__lead {
  text-align: center;
  color: $white;
  font-family: $sans-serif;
  font-weight: $global-weight-extrabold;
  font-size: 1.25rem;
  margin-top: 4rem;
  margin-bottom: 4rem;
  @include breakpoint('large') {
    font-size: 1.5rem;
    margin-top: 4rem;
    margin-bottom:0;
  }
}

.classleader__naptar {
  background-color: $white;
  padding: 2rem 5% 2rem 5%;
  margin:0 auto;
  max-width: 40rem;
  box-shadow: 0 0 10rem 0 rgba(#000,.75);

  @include breakpoint('medium') {
  }
  @include breakpoint('large') {
    margin-top: -6rem;
    margin-top: calc(-6rem - 4vw);

  }
  //filter:invert(.835);

  .calendar {
    //background-color: transparent;
  }

}

.singleclass__content {
  margin-bottom: 1rem;
}