.classleader {
    position: relative;

    padding: 3rem 0;
    padding: calc(3rem + 2vw) 0;
    //background-color: #000;
    background-color: $dark-gray;
    //border-bottom: .5rem solid $body-background;
}

.classleader__lead {
    font-family: $sans-serif;
    font-size: 1.25rem;
    font-weight: $global-weight-extrabold;

    margin-top: 4rem;
    margin-bottom: 4rem;

    //text-align: center;

    color: $white;
    color: $body-background;

    @include breakpoint('large') {
        font-size: 1.5rem;

        margin-top: 4rem;
        margin-bottom: 0;
    }
}

.classleader__naptar {
    //max-width: 40rem;
    margin: 0 auto;
    padding: 2rem 5% 2rem 5%;

    background-color: $white;
    box-shadow: 0 0 10rem 0 rgba(#000,.75);

    @include breakpoint('medium') {
    }

    @include breakpoint('large') {
        margin-top: -6rem;
        margin-top: calc(-6rem - 4vw);
    }
    //filter:invert(.835);
    .calendar {
        //background-color: transparent;
    }
}

.singleclass__content {
    background-color: $dark-gray;
    color:$body-background;
}


.facts {
    font-family: $header-font-family;
    font-size: 2rem;
    font-weight: $global-weight-extrabold;
    line-height: 1.2;

    margin: .25rem 0 0;
    padding: 0 10% 0 0;
    //background-color: $dark-gray;
    color: $medium-gray;

    list-style-type: none;

    text-transform: uppercase;

    > li, > span {
        display: block;

        margin: 0 0;
        padding: 0;
    }

    em {
      color:$light-gray;
      font-style: normal;
    }
}
