.sitefooter {
  padding-top: 6rem;
  padding-bottom: 2rem;
  background-color: $dark-gray;
  color:$body-background;
  font-family: $sans-serif;
  hr {
    border-color: $primary-color;
    border-width:.25rem;
    margin-top: .25rem;
  }
}

.sitefooter__slogan {
  line-height: 1;
  color:$medium-gray;
  margin-bottom: 4rem;
  > small {
    //color:$primary-color;
    display: block;
    font-size: 1.5rem;
    margin-bottom:.25em;
    text-transform: uppercase;
  }
  > p {
    margin:0;
    line-height: 1;
    text-transform: uppercase;
    font-weight: $global-weight-bold;
  }
}
.sitefooter__classes {
  margin:0;
  padding:0;
  list-style-type: none;
  //text-transform: uppercase;
  font-weight: $global-weight-bold;
  line-height: 1;
  font-size: 1.25rem;
  > li {
    display: inline-block;
    padding:.25em .875em .5em 0;
    a {
      white-space: nowrap;
      color:inherit;
      &:hover, &:focus {
        color:$light-gray;
      }
    }
  }
}

.sitefooter__socials {
  margin:0;
  padding:0;
  list-style-type: none;
  font-size: 1.5rem;
  text-align: right;
  > li {
    display: inline-block;
    padding:0 0 0 .25em;
    a {
      color: inherit;
      &:hover, &:focus {
        color: $primary-color;
      }
    }
  }
}