.pagehead {
  position: relative;
  background-color: #000;
  background-image: url(../images/ketember.jpg);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom: 1rem solid #000;
  &:after {
    position: absolute;
    left:0; top:0;
    width:100%;
    height:100%;
    content: '';
    background-image: linear-gradient(135deg, rgba(#000, .666) 0, rgba(#000, .125) 100%);
  }
}
.pagehead__content {
  color:$white;
  position: relative;
  z-index:1;
}

