.stickypost {
  //color: $primary-color;
  background-color: #fff;
  //margin-bottom: 1rem;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  box-shadow: 0 0 .5rem -.25rem rgba(black,.25);
  .button {
    margin:.333rem 0 0;
  }
}
.stickypost__header {
  //margin-top: .333rem;
  .updated {
    padding:0;
    background-color: none;
    font-size: .875rem;
    margin-bottom:0;
  }
}
.stickypost__title {
  text-transform: uppercase;
  margin:0;
  a {
    color:inherit;
    &:hover, &:focus {
      color:$primary-color;
    }
  }
}
.stickypost__summary {
 //font-family: $sans-serif;
}

.updated {
  font-family: $sans-serif;
  font-weight: $global-weight-bold;
  color:$body-background;
  display: inline-block;
  text-transform: uppercase;
  background-color: $dark-gray;
  line-height: 1;
  padding:.4em .4em;
  font-size: 1.125rem;

  .minipost & {
    background-color: $medium-gray;
    margin-top: .125em;
    font-size: .666rem;
  }
}


.minipost {
  @include clearfix();
  position: relative;
  margin-bottom: 2rem;
}
.minipost__header {
  margin-bottom: .5rem;
}
.minipost__fig {
  margin: 0;
  padding:0;
}

.minipost__text {
  padding: 1rem 0;
  font-size: .875rem;
}

.minipost__title {
  font-size: 1.125rem;
  margin:0;
  a {
    color:inherit;
    &:hover, &:focus {
      color:$primary-color;
    }
  }
}
.minipost__summary {
  p {
    margin-bottom: .75rem;
  }
}
.readmore {
  font-family: $sans-serif;
  font-weight: $global-weight-bold;
  font-size: .75rem;
  line-height: 1;
  //text-transform: uppercase;
  color:inherit;
}

.posthead {
  .lead {
    font-size: 1.5rem;
  }
}


.post__featimage {
  text-align: center;
  margin:0 0 2rem;
  padding:0;
  img {
  }
}
.singlepost__title {
}
figcaption {
  padding:.5rem 1rem 0;
  font-size: .875rem;
  font-style: italic;
  color:$dark-gray;
}