.stickypost {
  color: $body-background;
  background-color: $body-font-color;
  margin-bottom: 1rem;
}

.minipost {
  @include clearfix();
  position: relative;
}

.minipost__fig {
  margin: 0;
  padding:0;
}

.minipost__text {
  padding: 1rem 1rem;
  font-size: .875rem;
}

.minipost__title {
  font-size: 1.125rem;
}

.posthead {
  .lead {
    font-size: 1.5rem;
  }
}


.post__featimage {
  text-align: center;
  margin:0 0 2rem;
  padding:0;
  img {
  }
}
.singlepost__title {
}
figcaption {
  padding:.5rem 1rem 0;
  font-size: .875rem;
  font-style: italic;
  color:$dark-gray;
}